.gridViewportBase {
    box-sizing: border-box;
    width: 100%;
    padding: var(--grid-padding);
    overflow: hidden;
}

.gridScrollableBase {
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-x: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.gridScrollableBase::-webkit-scrollbar {
    width: 0;
    height: 0;
}
